*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

:root{
    --Purple-100: hsl(254, 88%, 90%);
    --Purple-500: hsl(256, 67%, 59%);

    --Yellow-100: hsl(31, 66%, 93%);
    --Yellow-500: hsl(39, 100%, 71%);

    --White:hsl(0, 0%, 100%);
    --white2: #f1f1f1;
    --Black:hsl(0, 0%, 7%);
}

#container{
    padding: 20px 30px;
    background-color: var(--white2);
}

/* Primeiro bloco Social Media */
#container #social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 35px;
    background-color: var(--Purple-500);
    border-radius: 10px;
    color: var(--White);
}

#container #social-media h1{
    font-size: 2.5rem;
    margin-bottom: 25px;
    line-height: 1;
}

#container #social-media img{
    width: 60%;
}

#container #social-media span{
    color: var(--Yellow-500);
}


/* Redes Sociais */
#container #manege-accounts{
    background-color: var(--White);
    padding: 10px;
    margin: 35px 0px 0px 0px;
    border-radius: 10px;
}

#container #manege-accounts img{
    width: 100%;
    margin: 0px 0px 10px 0px;
}


/* Calendário de agosto */
#container #posting{
    background-color: var(--Yellow-500);
    margin: 35px 0px 0px 0px;
    padding: 20px 20px 0px 20px;
    border-radius: 10px;
}

#container #posting img{
    width: 75%;
    margin: 20px 0px 0px 0px;
    position: relative;
    top: 5px;
}


/* Schedule to social media */
#container #schedule{
    background-color: var(--Purple-100);
    padding: 20px;
    margin: 35px 0px 0px 0px;
    border-radius: 10px;
    text-align: center;
}

#container #schedule img{
    width: 100%;
    margin: 20px 0px 20px 0px;
}

#container #schedule h2{
    font-size: 1.4rem;
    
}

#container #schedule p{
    font-size: 1.2rem;
    margin: 0px 0px 15px 0px;
}


/* Gráfico de Seguidores */
#container #grow-followers{
    background-color: var(--Purple-500);
    color: var(--White);
    padding: 20px;
    margin: 35px 0px 0px 0px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#container #grow-followers h1{
    font-size: 2rem;
    margin: 20px 0px 0px 0px;
    line-height: 0.9;
}

#container #grow-followers img{
    width: 80%;
    margin: 20px 0px 20px 0px;
}


/* Audience growth */
#container #faster-growth{
    background-color: var(--White);
    padding: 20px;
    margin: 35px 0px 0px 0px;
    border-radius: 10px;
}

#container #faster-growth img{
    width: 55%;
    margin: 20px 0px 0px 0px;
}

#container #faster-growth span{
    font-size: 2.2rem;
    font-weight: 600;
    
}